@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


:root {
    --cor0: #D9CB04;
    --cor1: #F2B138;
    --cor2: #a65a17;
    --cor3: #F23207;
    --cor4: #401111;

    --fonte-Titulo: "Archivo Black", sans-serif;
    --fonte-subtitulo: "M PLUS 1p", sans-serif;
    --font-restante: "Abel", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: var(--cor2);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
}

.menu {
    padding-top: 15px;
    width: px;

}

.menu-h2 {
    padding-bottom: 15px;
}

.burger {
    text-align: center;
    align-items: center;
    padding-top: 15px;
}

.selected-ingredients {
    padding-left: 20px;
    padding: 10px;
    
}

.category{
    padding: 2px;
    font-weight: bold;
    cursor: pointer;
}

.sub-menu {
    display: none;
    position: absolute;
    padding-left: 30px;
    z-index: 1;/* Posiciona a lista ao lado direito da imagem */
    left: 70px; /* Ajuste a distância do lado direito da imagem */
    top: 0; /* Ajuste a distância do topo da imagem */
}

.menu-item {
    position: relative; /* Adiciona posição relativa para posicionamento absoluto da sub-menu */
}

.sub-menu-acompanhamento{
    display: none;
    position: absolute;
    padding-left: 100px;
    z-index: 1;/* Posiciona a lista ao lado direito da imagem */
    left: 70px; /* Ajuste a distância do lado direito da imagem */
    top: 0; /* Ajuste a distância do topo da imagem */
}


.sub-menu.show {
    
    display: block;
    padding-left: 20px;
}

.ingredient {
    cursor: pointer;
    display: block;
}

.remove-ingredient {
    margin-left: 20px;
    background-color: #ff0000;
    color:#ffffff;
    border: 2px solid black;
    padding: 8px 11px;
    border-radius: 20%;
    cursor: pointer;
}

.lista-sem-bolinhas{
    list-style-type: none;
}
.burger-ingredient {
    list-style-type: none;
}


.total{
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: var(--cor0);
}
.acompanhamento {
    text-align: center;
    align-items: center;
    padding-top: 15px;
}
.bebidas {
    text-align: center;
    align-items: center;
    padding-top: 15px;
}